{
  on_demand_tls {
    ask http://localhost:4000/tls/ask
  }

  local_certs
}

manage.statusblog.local {
  reverse_proxy localhost:4000
}

*.statusblog.local {
  reverse_proxy localhost:4001
}

:80, :443 {
  reverse_proxy localhost:4001
  tls {
    on_demand
  }
}
