<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= @current_blog.name %> Status</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
  </head>
  <body class="antialiased font-sans">
    <%= flash_alert(:info, get_flash(@conn, :info)) %>
    <%= flash_alert(:error, get_flash(@conn, :error)) %>
    <main role="main">
      <%= @inner_content %>
    </main>
  </body>
</html>
